motor control.json
[{"id":"5c1aff4b.c91bb","type":"tab","label":"MOTOR CONTROL","disabled":false,"info":""},{"id":"804ffa63.61a678","type":"ibmiot out","z":"5c1aff4b.c91bb","authentication":"apiKey","apiKey":"9942bd59.b8d3d","outputType":"cmd","deviceId":"818","deviceType":"NODE","eventCommandType":"agriculture","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":240,"y":360,"wires":[]},{"id":"bb8aa20f.b49a5","type":"ui_button","z":"5c1aff4b.c91bb","name":"","group":"3538766b.0cfbca","order":4,"width":0,"height":0,"passthru":false,"label":"MOTOR ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motor on\"}","payloadType":"json","topic":"","x":490,"y":300,"wires":[["804ffa63.61a678","ea2f0216.29a5c"]]},{"id":"54c33472.7027ec","type":"ui_button","z":"5c1aff4b.c91bb","name":"","group":"3538766b.0cfbca","order":5,"width":0,"height":0,"passthru":false,"label":"MOTOR OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motor off\" }","payloadType":"json","topic":"","x":480,"y":440,"wires":[["804ffa63.61a678","fbbd05fd.fd4128"]]},{"id":"9e9176.e9dd0e88","type":"ui_text","z":"5c1aff4b.c91bb","group":"3538766b.0cfbca","order":6,"width":0,"height":0,"name":"","label":"status","format":"{{msg.payload}}","layout":"row-spread","x":1030,"y":480,"wires":[]},{"id":"ea2f0216.29a5c","type":"function","z":"5c1aff4b.c91bb","name":"on notificarion","func":"msg.payload = \"Motor on\"\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":320,"wires":[["9e9176.e9dd0e88","ac635e5f.838e9"]]},{"id":"fbbd05fd.fd4128","type":"function","z":"5c1aff4b.c91bb","name":"off notification","func":"msg.payload = \"Motor off\"\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":460,"wires":[["9e9176.e9dd0e88","ac635e5f.838e9"]]},{"id":"ac635e5f.838e9","type":"debug","z":"5c1aff4b.c91bb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1020,"y":240,"wires":[]},{"id":"9942bd59.b8d3d","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"bew2y7.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"3538766b.0cfbca","type":"ui_group","z":"","name":"Control","tab":"cda045a.167aab8","order":1,"disp":true,"width":"6","collapse":false},{"id":"cda045a.167aab8","type":"ui_tab","z":"","name":"MOTOR","icon":"dashboard","order":2,"disabled":false,"hidden":false}]