smart agriculture.json
[{"id":"aa55d268.348cd","type":"tab","label":"Smart Agriculture","disabled":false,"info":""},{"id":"84617602.b648d8","type":"ibmiot in","z":"aa55d268.348cd","authentication":"apiKey","apiKey":"9942bd59.b8d3d","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"986","applicationId":"","deviceType":"NODE","eventType":"","commandType":"command","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":"","allCommands":"","allFormats":"","qos":0,"x":150,"y":280,"wires":[["e8fd7fa6.bf48","f618a142.656f1","fb930fd.61157f"]]},{"id":"bfc8369b.020b68","type":"debug","z":"aa55d268.348cd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1030,"y":280,"wires":[]},{"id":"e8fd7fa6.bf48","type":"function","z":"aa55d268.348cd","name":"temperature","func":"msg.payload=msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":180,"wires":[["2170ce80.08ced2","bfc8369b.020b68"]]},{"id":"f618a142.656f1","type":"function","z":"aa55d268.348cd","name":"humidity","func":"msg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":360,"wires":[["50f1a10f.e2597","bfc8369b.020b68"]]},{"id":"2170ce80.08ced2","type":"ui_gauge","z":"aa55d268.348cd","name":"","group":"cc14bb75.c33728","order":1,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#b632c8","#ca3838"],"seg1":"","seg2":"","x":630,"y":180,"wires":[]},{"id":"50f1a10f.e2597","type":"ui_gauge","z":"aa55d268.348cd","name":"","group":"cc14bb75.c33728","order":1,"width":0,"height":0,"gtype":"gage","title":"humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":360,"wires":[]},{"id":"fb930fd.61157f","type":"function","z":"aa55d268.348cd","name":"objectTemp","func":"msg.payload=msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":280,"wires":[["8fdbcfa1.97081","bfc8369b.020b68"]]},{"id":"8fdbcfa1.97081","type":"ui_gauge","z":"aa55d268.348cd","name":"","group":"cc14bb75.c33728","order":1,"width":0,"height":0,"gtype":"gage","title":"objectTemp","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":280,"wires":[]},{"id":"9942bd59.b8d3d","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"bew2y7.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"cc14bb75.c33728","type":"ui_group","z":"","name":"Field","tab":"6a985197.a3631","order":1,"disp":true,"width":"6","collapse":false},{"id":"6a985197.a3631","type":"ui_tab","z":"","name":"SMART FARM","icon":"dashboard","disabled":false,"hidden":false}]