weather.json
[{"id":"114d1a25.d12376","type":"tab","label":"WEATHER","disabled":false,"info":""},{"id":"67f85616.2808d8","type":"inject","z":"114d1a25.d12376","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":180,"wires":[["dd19690c.328218"]]},{"id":"dd19690c.328218","type":"http request","z":"114d1a25.d12376","name":"weather","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q=Anantapur,%20IN&appid=65d0ad0a97abe260794b108b614fcf90","tls":"","persist":false,"proxy":"","authType":"","x":440,"y":340,"wires":[["805195b4.7e13d8","3456dabd.c05b26","6df8516e.fd6d6"]]},{"id":"6df8516e.fd6d6","type":"function","z":"114d1a25.d12376","name":"pressure","func":"msg.payload = msg.payload.main.pressure\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":560,"wires":[["65d13ad6.094874","8767ca1c.3df1c8"]]},{"id":"3456dabd.c05b26","type":"function","z":"114d1a25.d12376","name":"hunidity","func":"msg.payload = msg.payload.main.humidity\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":480,"wires":[["65d13ad6.094874","2845834.ea5477c"]]},{"id":"805195b4.7e13d8","type":"function","z":"114d1a25.d12376","name":"temperature","func":"msg.payload = msg.payload.main.temp\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":340,"wires":[["65d13ad6.094874","ca3ec5f3.4acca8"]]},{"id":"2845834.ea5477c","type":"ui_text","z":"114d1a25.d12376","group":"38643b2b.0b7534","order":8,"width":0,"height":0,"name":"","label":"Humidity","format":"{{msg.payload}}","layout":"row-spread","x":920,"y":300,"wires":[]},{"id":"8767ca1c.3df1c8","type":"ui_text","z":"114d1a25.d12376","group":"38643b2b.0b7534","order":9,"width":0,"height":0,"name":"","label":"Object temp","format":"{{msg.payload}}","layout":"row-spread","x":950,"y":360,"wires":[]},{"id":"65d13ad6.094874","type":"debug","z":"114d1a25.d12376","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":940,"y":480,"wires":[]},{"id":"ca3ec5f3.4acca8","type":"ui_text","z":"114d1a25.d12376","group":"38643b2b.0b7534","order":2,"width":0,"height":0,"name":"","label":"Temperature","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":200,"wires":[]},{"id":"38643b2b.0b7534","type":"ui_group","z":"","name":"Weather Data","tab":"a64f0691.a82d58","order":1,"disp":true,"width":"6","collapse":false},{"id":"a64f0691.a82d58","type":"ui_tab","z":"","name":"WEATHER","icon":"dashboard","order":3,"disabled":false,"hidden":false}]